body {
    background-color: lightblue;
}

label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
    color: darkgreen;
}

input, textarea {
    width: 200px;
}

textarea {
    height: 4em;
}
